* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-erro {
    background-color: var(--corErro);
    text-align: center;
}

:root {
    --corPrincipal: #f9ca24;
    --corSecundaria: #111111;
    --corErro: #ff0000;
}